
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
  {{#each}}
    <li>
      {{#linkTo 'projects.show' this}}
        <img {{bind-attr src=imageUrl}}>
      {{/linkTo }}
    </li>
  {{/each}}
</ul>
