<h4>{{name}}</h4>
<div class="projectImg">
  <a {{ bind-attr href=url }}>
    <img {{bind-attr src=imageUrl }} alt="projectImage">
  </a>
</div>
<div class="description">
  <p> {{description}} </p>
</div>
