<div class="row">
  <div class="small-12 columns text-center">
    <h4>{{name}}</h4>
      <a class="text-center" {{ bind-attr href=url }}>
        <img {{bind-attr src=imageUrl }} class="projectImage" alt="projectImage">
      </a>
    <div class="description">
      <p> {{description}} </p>
    </div>
  </div>
</div>
