<div class="row category">
  <div class="12-small columns text-center">
    <h3>About</h3>
  </div>
</div>
<div class="row text-center">
  <div class="small-10 small-centered columns">
    <p> I'm Alexander Graff, I'm an emerging full-stack web developer.
      I am a graduate of Launch Academy,
      where I've learned best practices on how to learn, pair programming,
      Git & Github, agile development,
      Ruby, and how to build web applications in frameworks such as Ruby on Rails
      and Sinatra.
    </p>
    <p>
    Email:
    graffam87@gmail.com
    </p>
    <a href="www.github.com/graffam">GitHub</a></br>
    <a href="www.linkedin.com/graffam">LinkedIn</a>
  </div>
</div>
