<div class="row fullWidth">
  <div class="small-12 columns nav text-center">
    <h2 id="title">Welcome to My Portfolio</h2>
    {{link-to 'Home' 'application'}}
    {{link-to 'Projects' 'projects'}}
    {{link-to 'About' 'about'}}
  </div>
</div>
    {{outlet}}
