@import "settings";
@import "foundation";


.nav {
  background-color: #DD423E;
}

.category {
  background-color: #C5AD4B;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

#projectlist {
  margin-top: 3em;
}

#projectlist li a img {
  box-shadow: 10px 10px 5px #3F2C26
}
